@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
	font-family: "Arial Rounded MT W02 Bold";
	src: url("./410f96d39c1cdb5c9aaf5fdca7ee7cd9.woff");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	user-select: none;
}

body {
	width: 100%;
	height: 100vh;
	background: #c15c5c;
	font-family: "Poppins", sans-serif;
}
.nav {
	position: relative;
	width: 100%;
	height: 60px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.nav-logo {
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
	gap: 5px;
	color: #fff;
	font-size: 20px;
}
.nav-logo img {
	width: 20px;
	height: 20px;
}
.nav-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}
.nav-prog {
	position: absolute;
	transition: width 1s linear;
	height: 3px;
	background-color: #fff;
	border-radius: 100px;
	transform: translateY(-1px);
}
.nav-settings {
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	gap: 5px;
	color: #fff;
	border-radius: 5px;
	width: 86px;
	height: 32px;
	cursor: pointer;
	transition: all 0.03s;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.nav-settings:active {
	transform: translateY(5px);
}
.nav-settings img {
	width: 16px;
	height: 16px;
}
.main {
	max-width: 480px;
	width: 100%;
	background: green;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	margin-top: 40px;
}
@media (max-width: 400px) {
	.main {
		padding: 20px;
	}
}
.main-menu {
	display: flex;
	justify-content: center;
}
.main-menu-item {
	padding: 2px 12px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	opacity: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: all 0.03s;
}
@media (max-width: 400px) {
	.main-menu-item {
		font-size: 12px;
	}
}
.main-menu-item:active {
	transform: translateY(5px);
}
.main-menu-item.active {
	background: none rgba(0, 0, 0, 0.15);
}
.main-time {
	font-size: 120px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-top: 20px;
	font-family: "Arial Rounded MT W02 Bold", "Poppins", sans-serif;
}
@media (max-width: 400px) {
	.main-time {
		font-size: 90px;
	}
}
.main-buttons {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 10px;
}